# Miscellaneous system files
.DS_Store
*~
._*
.env
Thumbs.db

# Editor files
/.vs/
/.vscode/
/.idea/

# Binaries
*.bin

# Python
__pycache__/
*.py[cod]
*$py.class

# AES key file required to build the firmware
KEYS.py
